* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(27, 40, 56);
    color: white;
    line-height: 24px;
}

nav#header {
    position: relative;
    top: 0px;
    background-color: rgb(246, 80, 2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    gap: 20px;
    margin-bottom: 20px;
}

#navbar-middle ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
    list-style: none;
    padding: 0;
}

#navbar-right {
    height: 32px;
    width: 92px;
}

a {
    text-decoration: none;
    color: white;
}

#main-section {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    gap: 20px;
}

h2 {
    background-color: rgb(246, 80, 2);
    color: white;
    padding: 15px;
    margin: 0;
}

section #findsteamid {
    background-color: white;
    color: black;
}

section #findsteamid form {
    padding: 0 15px;
}

section #about {
    background-color: rgb(217,237,247);
    color: black;
}

section p {
    padding: 0 15px;
}

#searchbar {
    padding: 6px 12px;
    height: 25px;
    width: 100%;
    border-radius: 5px;
    border: solid 1px gray;
    /* margin-bottom: 20px; */
}

#submit {
    background-color: rgb(246, 80, 2);
    color: white;
    font-size: 15px;
    padding: 12px 6px;
    margin: 10px 0;
    border: solid 1px gray;
}

#submit:hover {
    background-color: orange;
    cursor: pointer;
}

#other {
    background-color: rgb(22,32,45);
    color: #8f98a0;
    padding: 15px;
}

#other p a:hover {
    color: #337ab7;
}

#other ul {
    padding-left: 40px;
}

#footer {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#footer ul {
    color: gray;
    display: flex;
    gap: 4px;
    padding: 0;
}

#footer ul li {
    list-style-type: none;
    font-size: 13px;
}

#footer ul li a {
    color: #A7B5C1;
}

#footer ul li a:hover {
    color: white;
}

